body {
  background: linear-gradient(
    115.7deg,
    rgb(69, 108, 136) 6.2%,
    rgb(9, 130, 170) 112.9%
  );
  font-family: "Roboto", sans-serif;
  color: white;
}

.card {
  border-radius: 15px;
}

h1 {
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

h3 {
  padding: 10px 75px;
  text-align: center;
}

h4 {
  text-align:center;

}

.temperature {
  text-align:center;
}
.humidity{
  text-align: center;
}

}
.progress-bar {

  border-radius:  100px;
  font-size:15px;
}  
 hr {
   width: 100%;
   
 }
}
.days {
  padding-top: 40px;
  font-size: 15px;
}

.btn btn-primary {
  color: #add8e6;
}

.current-icon {
  color: yellow;
  font-size: 50px;
}

.water-drop {
  font-size: 50px;
}

.mountain {
  font-size: 80px;
}

.icon {
  font-size: 40px;
  color: yellow;
  text-align:center;
}
